extends ../layouts/base-layout
block append content

    .container
        h1 教师主页
        .ui.two.column.centered.grid
            .left.floated.twelve.wide.column
                +tabs(tables,selectedTable)
            .right.floated.left.aligned.four.wide.column
                include ../layouts/addArticleCard
                include ../layouts/createCard
block append script
  script(src='/scripts/index.js')
