extends layouts/base-layout
block append content
  .container
    .ui.two.column.centered.grid
      .left.floated.twelve.wide.column
        +tabs(tables,selectedTable)
      .right.floated.left.aligned.four.wide.column
        if student
          +studentCard(student)
                
block append script
  script(src='/scripts/index.js')
