extends layouts/base-layout
block append content
    .container
        .ui.form.segment(style='width:600px;margin:60px auto;')
            form(method='POST')
                .ui.left.icon.input.fluid
                    i.mail.icon
                    input(type='text',placeholder='用户名',name='name')
                br
                .ui.left.icon.input.fluid
                    i.lock.icon
                    input(type='password',placeholder='密码',name='password')
                br
                .field
                    label  职业:
                    select.ui.search.dropdown(name='job')
                       option(value='student',selected='selected') 学生
                       option(value='student') 老师
                       
                        
                        
                input(type='submit',value='登录').ui.button.fluid
block append script
    script.
        $('.ui.radio.checkbox').checkbox();
        $('select.dropdown').dropdown();