.ui.cards
.card
    .content
        b 友情链接
        .ui.divider
        .ui.list
            .item
                a(href='https://cnodejs.org', target='_blank')
                    img(src="https://a-ssl.duitang.com/uploads/item/201605/08/20160508141604_WVX5J.thumb.700_0.png",style='width:100%')
